body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://thumbs.dreamstime.com/b/computer-work-table-city-night-background-desktop-97202724.jpg") ;
  
     width:auto;
   height:100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

}
