.messageContainer{
margin-top:50px;
}
.message-Form{
    margin-top:50px;
 
}
.messageButton{
    margin-top:50px;
 
}


.card{
    margin-top:50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    background: linear-gradient(#e66465, #9198e5);
}